<h1> All Tests!</h1>
<%= link_to "Sign Out", destroy_user_session_path, method: :delete, data: { turbo_method: :delete} %> <br />
<%= link_to "New test", new_test_path %> <br />

<% @tests.each do |test|%>
    <%= link_to test.name, test_path(test)%> <br />
    <%= test.description %> <br /> <br />
<% end %>